header {
  background-color: black;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.box {
  background-color: #e9e9edbf;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 20px;
  margin: 0 20px;
  box-shadow: var(--shadow);
  width: 300px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,select {
  border-radius: 10px;
  padding: 10px 10px;
  background-color: var(--code-bg);
  color: black;
  border: 1px solid var(--accent-border);
  box-shadow: var(--shadow);
}

input:focus ,select:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 5px 8px rgba(8, 163, 235, 0.4);
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  margin-top: 10px;
  background-color: #223ebbd3;
}

button:hover {
  background-color: var(--accent-hover);
}

.disapled{
  background-color: #9c9fadd3 !important;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

h1{
  text-align: center;
  font-weight: 700;
}

.back-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.model{
  background-color: #bebfc5d3;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: var(--shadow);
  color: white;
  margin: 0 15px;
}

.error{
  color: red;
  font-size: 20px;
  font-weight: 500;
}

.success{
  color: green;
  font-size: 20px;
  font-weight: 500;
}

.close-button {
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #a20909d3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}